body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 30px;

}

.hover{
  color:#6c757d  ;
  text-decoration-line: none;
  font-size: small !important;
  padding-bottom: 10vh !important;

}

.hover:hover{
  color: #387ED1 !important;
}

.options:hover{
  color: #387ED1 !important;
}

.footer-text{
  font-size: x-small;
}

.heading{
  font-size: x-large;
  margin-bottom: 10%;
}


.icons{
  color:#6c757d;
}

.email{
  color: #4286D5 !important;
  font-weight: bold;
}

.email:hover{
  color:#3d4042 !important;
}

.rows{
  margin-left: 0% !important;
  margin-right: 0% !important;
}


